table {
  margin: 3em;
  display: block;
  overflow: scroll;
  background-color: white;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border: 2px solid black;
  text-align: center;
}

td {
  border: 1px solid black;
  padding: 6px;
}
