<div class="colorPicker">
  <h1 class="title">Welcome to the Angular Pixel Art Maker!</h1>
  <p class="instructions">
    - You may change colors by clicking on the colored circle below. <br>
    - Custom colors may be saved by clicking "Add Color" on the left in the color chooser. <br>
    - You can click single pixels, or drag to paint with the selected color. <br>
    - Double-Clicking a pixel will erase the color. <br>
    - Clicking Quick-Fill changes the color of all squares. IE: Quick-Fill with white selected will clear the grid. <br>
  </p>
  <form class="size-picker" (submit)="submit($event)">
    Height:
    <input type="number" class="input-height" name="height" min="1" max="50" value="25">
    Width:
    <input type="number" class="input-width" name="width" min="1" max="50" value="25">
    <br>
    <input type="submit" class="submit-button" value="Make New Grid">
  </form>
  <label>
    Current Color:
  </label>
  <input [style.background]="color" [cpAlphaChannel]="'always'" [cpOutputFormat]="'rgba'" [cpPresetColors]="['#fff', '#2889e9']"
    (colorPickerChange)=change($event) [cpAddColorButton]="true" [(colorPicker)]="color" class="picker" />
  <br>
  <input type="button" class="quick-fill" value="Quick-Fill" (click)="quickFill($event)">

</div>
