.picker {
  width: 20px;
  border: 3px solid black;
  cursor: pointer;
  background-color: black;
  border-radius: 20em;
  padding: 15px;
}

label {
  font-size: 25px;
  margin-right: 5px;
}

.colorPicker {
  margin-top: 3em;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  padding: 3px;
}

.instructions {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 15px;
}

.title {
  text-align: center;
}
